@page "{id:guid}"
@model OkaneFlow.Pages.Dashboard.Category.CategoryPageModel
@{
   ViewData["Title"] = "Category";
}
<div class="d-flex justify-content-center">
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Overview</button>
        <button type="button" class="btn btn-secondary">Subscriptions</button>
        <button type="button" class="btn btn-secondary">Debts</button>
    </div>
</div>

<div>
        <button type="button" onclick="goBack()" class="btn btn-secondary mb-3">Back</button>
    <hr />
    <div class="d-flex justify-content-between align-items-start">
        <div>
            <span class="card-title mb-2 text-center fw-bold fs-4">
                Total Amount: @(Model.Account != null 
                    ? Model.Account.CurrentBalance.ToString("C") 
                    : "N/A")
            </span>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="me-4 d-flex flex-column justify-content-center h-100">
                                <span class="card-title mb-2 text-center fw-bold fs-4" style="color:@Model.UnallocatedFontColor">@Model.UnallocatedAmount.ToString("C")</span>
                            <p class="card-title mb-2 text-center">Ready to Assign</p>
                        </div>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#assignModal">
                            Assign
                        </button>

                        <div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="assignModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="assignModalLabel">Assign Amount to Category</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" asp-page-handler="Assign">
                                            <div class="mb-3">
                                                <label for="assignAmountModal" class="form-label">New Amount To Allocate</label>
                                                <input type="number" step="0.01" min="0" class="form-control" id="assignAmountModal" name="AmountToAllocate" required />
                                            </div>
                                            <div class="mb-3">
                                                <label for="assignCategoryModal" class="form-label">Category</label>
                                                <select class="form-select" id="assignCategoryModal" name="AssignCategoryId" required>
                                                    <option value="">Select a category</option>
                                                    @foreach (var category in Model.Categories)
                                                    {
                                                        <option value="@category.CategoryID">@category.CategoryName</option>
                                                    }
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success">Assign</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-page="/Dashboard/Category/create" asp-route-id="@Model.id" class="btn btn-primary mt-3">Create Category</a>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th scope="col" hidden>CategoryID</th>
            <th scope="col" hidden>AccountID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Allocated Amount</th>
            <th scope="col">AmountUsed</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td hidden>@category.CategoryID</td>
                <td hidden>@category.AccountID</td>
                <td>@category.CategoryName</td>
                <td>@category.AllocatedAmount.ToString("C")</td>
                <td>@category.AmountUsed.ToString("C")</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-page="/Dashboard/Category/edit" asp-route-id="@category.CategoryID">Edit</a></li>
                            <li><a class="dropdown-item" asp-page="/Dashboard/Category/delete" asp-route-id="@category.CategoryID">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


