@page
@model OkaneFlow.Pages.Dashboard.MainDashboard.DashboardModel
@{
        ViewData["Title"] = "Dashboard";

}
<a asp-page="/Dashboard/MainDashboard/create" asp-route-id="" class="btn btn-primary">Create</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" hidden>AccountID</th>
            <th scope="col" hidden>UserID</th>
            <th scope="col">CurrentBalance</th>
            <th scope="col">AccountName</th>
            <th scope="col">function</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.BankAccounts)
        {
            <tr>
                <td hidden>@account.AccountID</td>
                <td hidden>@account.UserID</td>
                <td>@account.CurrentBalance.ToString("C")</td>
                <td>@account.AccountName</td>
                <td>
                    <a asp-page="/Dashboard/MainDashboard/edit" asp-route-id="@account.AccountID" class="btn btn-primary">Edit</a>
                    <a asp-page="/Dashboard/MainDashboard/delete" asp-route-id="@account.AccountID" class="btn btn-danger">Delete</a>
                    <a asp-page="/Dashboard/Category/CategoryPage" asp-route-id="@account.AccountID" class="btn btn-success">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
